.navbar-wrapper {
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navigation-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}